@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;900&display=swap');
*{
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    font-size: 15px;
}
#card-custom-one {
    background: rgb(255, 204, 0) ;
    max-width: 150vh;
}


main{
    margin-top: 30px;
}

#agregar{
    margin-top: 15px;
}
.card-body{
    height:35rem ;
}

#tamano-tabla{
    max-height: 220px;
}


#margen-superior {
    margin-top: 23px;
    /* esto separa los botones plan de cuenta y agregar cuenta del descripcion */
}

#planDeCuentas {
    margin-left: 3rem;
}
input[type="radio"]:hover {
    cursor: pointer;
}
#margen-superior-radio-btn {
    margin-top: 27px;
}
/* Estilos para el formulario en pantallas pequeñas */
@media (max-width: 990px) {
    #planDeCuentas {
        margin-left: 1rem;
        /* Eliminar el margen izquierdo */
    }
    .card-body{
        height:35rem ;
    }
    
}


@media (max-width: 767px) {
    .col-md-6 {
        width: 100%;
    }

    #planDeCuentas {
        margin-left: 0;
        /* Eliminar el margen izquierdo */
    }

    select.form-select {
        /* Define el ancho deseado para el select */
        width: 70%;
    }
    .card-body{
        height:58rem ;
    }
    
    
}

/* Estilos para el formulario en pantallas más pequeñas, como teléfonos */
@media (max-width: 576px) {
    /* Puedes agregar estilos específicos para pantallas más pequeñas aquí */
    .custom-container {
        max-width: 90%;
        /* Reducir el ancho del contenedor */
        padding: 10px;
        /* Reducir el espacio interno */
    }

    #card-custom-one,
    #card-custom-two,
    #card-custom-three {
        max-width: 100%;
        /* Ajustar el ancho del card al 100% del contenedor */
    }

    #planDeCuentas {
        margin-left: 0;
        /* Eliminar el margen izquierdo */
    }
}