@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: linear-gradient(135deg,#e85d04, #f1a164);
}
.container{
    max-width: 700px;
    width: 100%;
    background-color: aliceblue;
    padding: 25px 30px;
    border-radius: 15px;
}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 250px;
    background: linear-gradient(135deg,#e85d04, #f1a164);
}
.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}
form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% /2 - 20px);
}
.user-details .input-box .details{
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
}
.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #e85d04;
}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    background: linear-gradient(-135deg,#e85d04, #f1a164);
    border-radius: 5px;
    border: none;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;

}

form .button input:hover{
    background: linear-gradient(135deg,#7a3103, #e29b6e);
}

@media(max-width: 584px){
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
    .container form .user-details{
        max-height: 300px;
        overflow-y: scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;
    }
}
