<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Libro Mayor</title>
</head>
<body>
<h1>Libro Mayor</h1>

<form th:action="@{/admin/cuenta/detalle}" method="get">
    <label for="cuentaId">Selecciona una cuenta:</label>
    <select name="cuentaId" id="cuentaId">
        <option value="">Selecciona una cuenta</option>
        <option th:each="cuenta : ${cuentas}" th:value="${cuenta.id}" th:text="${cuenta.nombre}"></option>
    </select>
    <button type="submit">Ver Libro Mayor</button>
</form>

<table th:if="${cuenta != null}" border="1">
    <thead>
    <tr>
        <th>Código</th>
        <th>Fecha</th>
        <th>Debe</th>
        <th>Haber</th>
        <th>Saldo</th>
        <th>Acciones</th> <!-- Agregamos una columna para las acciones -->
    </tr>
    </thead>
    <tbody>
    <tr th:each="asiento : ${asientos}">
        <td th:text="${cuenta.codigo}"></td>
        <td th:text="${asiento.fecha}"></td>
        <td th:text="${asiento.debe}"></td>
        <td th:text="${asiento.haber}"></td>
        <td th:text="${cuenta.saldo_actual}"></td>

    </tr>
    </tbody>
</table>
</body>
</html>
