<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Nuevo Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="title">Registrar Cuenta</div>
    <form action="#" th:action="@{/admin/cuenta}" th:object="${cuenta}" method="post">
        <div class="user-details">

            <div class="input-box">
                <span class="details">Nombre</span>
                <input type="text"th:field="*{nombre}" placeholder="Cuenta" required>
            </div>

            <div class="input-box">
                <span class="details">Tipo</span>
                <select th:field="*{tipo}" class="form-control" required>
                    <option value="ACTIVO">Activo</option>
                    <option value="PASIVO">Pasivo</option>
                    <option value="PATRIMONIO_NETO">Patrimonio Neto</option>
                    <option value="RESULTADO_NEGATIVO">Resultado Negativo</option>
                    <option value="RESULTADO_POSITIVO">Resultado Positivo</option>
                </select>
            </div>



            <div class="input-box">
                    <span class="details">codigo</span>
                    <input type="text"th:field="*{codigo}" placeholder="000" required>

                </div>
                <div class="input-box">
                    <span class="details">¿Recibe Saldo?</span>
                    <input type="checkbox" id="recibeSaldo" th:field="*{saldo}">

                </div>

                <div class="input-box">
                    <span class="details">Saldo actual</span>
                    <input type="number" id="saldoActual" th:field="*{saldo_actual}" required disabled>
                </div>

            <!-- <div class="input-box">
                <span class="details">padre </span>
                <input type="number"th:field="*{padre}" required>
            </div> -->

            <div class="form-group">
                <label for="cuenta">Selecciona el tipo de cuenta:</label>
                <select id="cuenta" name="cuentaId" class="form-control">
                    <option value="">Selecciona una cuenta</option>
                    <option th:each="cuenta : ${cuentas}" th:value="${cuenta.id}" th:text="${cuenta.nombre}"></option>
                </select>
            </div>


        </div>

        <div class="button">
            <input type="submit" value="Registrar" name="asientoCuenta">

        </div>

    </form>
</div>

<script>
    // Obtén una referencia al checkbox y al campo "Saldo actual"
    const checkbox = document.getElementById("recibeSaldo");
    const saldoActualInput = document.getElementById("saldoActual");

    // Agrega un listener para el evento "change" del checkbox
    checkbox.addEventListener("change", function () {
        // Si el checkbox está marcado (checked), habilita el campo "Saldo actual"; de lo contrario, deshabilítalo.
        saldoActualInput.disabled = !checkbox.checked;
    });
</script>

</body>
</html>