<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Libro Diario</title>
    <!-- Agrega los enlaces a los estilos de Bootstrap -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/css/AD.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Adriel Coorp
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/home}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/cuenta/plan}">Plan de cuentas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            th:href="@{/user/asiento/librodiario?desde=2023-01-01&hasta=2024-12-31}">Libro
                            diario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/cuenta/detalle?cuentaId=1}">Libro mayor</a>
                    </li>
                </ul>

            </div>
            <form action="#" th:action="@{/user/login}" th:method="post" class="d-flex">
                <input class="btn btn-warning form-control me-2" type="submit" value="Cerrar sesión"
                    onclick="return confirm('¿Desea cerrar sesión?');">
            </form>

        </div>
    </nav>

    <div class="container mt-3" style="background-color: white; border-radius: 5px;">
        <h3>Libro Diario</h3>

        <form action="/admin/asiento/librodiario" method="get">
            <div class="form-group">
                <label for="desde">Desde:</label>
                <input type="date" id="desde" name="desde" class="form-control" required>
            </div>
            <div class="form-group">
                <label for="hasta">Hasta:</label>
                <input type="date" id="hasta" name="hasta" class="form-control" required>
                <a class="btn btn-outline-danger" th:href="@{/user/asiento/new}">
                    Agregar Asiento
                </a>
            </div>
            <button type="submit" class="btn btn-primary">Buscar</button>
        </form>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Fecha</th>
                    <th scope="col">Saldo</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cuenta</th>
                    <th scope="col">Debe</th>
                    <th scope="col">Haber</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="entry : ${libroAgrupado}">
                    <td><strong th:text="${entry.key}"></strong></td>
                    <td>
                        <ul style="list-style: none;">
                            <li th:each="asiento : ${entry.value}">
                                <strong th:text="${asiento.saldo}"></strong>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul style="list-style: none;">
                            <li th:each="asiento : ${entry.value}">
                                <strong th:text="${asiento.descripcion}"></strong>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul style="list-style: none;">
                            <li th:each="asiento : ${entry.value}">
                                <strong th:text="${asiento.cuentas[0].nombre}"></strong>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul style="list-style: none;">
                            <li th:each="asiento : ${entry.value}">
                                <strong th:text="${asiento.debe}"></strong>
                            </li>
                        </ul>
                    </td>
                    <td>
                        <ul style="list-style: none;">
                            <li th:each="asiento : ${entry.value}">
                                <strong th:text="${asiento.haber}"></strong>
                            </li>
                        </ul>
                    </td>
                </tr>
            </tbody>
        </table>

        <!-- Agregar el botón de impresión -->
        <button onclick="imprimirLibroDiarioPDF()" class="btn btn-primary">Imprimir Libro Diario</button>
    </div>

    <!-- Agregar el enlace a jQuery y Bootstrap JS (asegúrate de que las URLs sean correctas) -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

    <!-- Agregar el script para la función de impresión -->
    <script>
        function imprimirLibroDiarioPDF() {
            window.print();
        }
    </script>

</body>

</html>