<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Registro de asiento</title>
    <link rel="stylesheet" href="/css/asientos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>

</head>

<body>
    <style>
        body {
            background-color: white;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-ligth">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="/css/AD.png" alt="" width="30" height="24" class="d-inline-block align-text-top">
                Adriel Coorp
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/home}">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/cuenta/plan}">Plan de cuentas</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link"
                            th:href="@{/user/asiento/librodiario?desde=2023-01-01&hasta=2024-12-31}">Libro
                            diario</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/user/cuenta/detalle?cuentaId=1}">Libro mayor</a>
                    </li>
                </ul>

            </div>
            <form action="#" th:action="@{/user/login}" th:method="post" class="d-flex">
                <input class="btn btn-warning form-control me-2" type="submit" value="Cerrar sesión"
                    onclick="return confirm('¿Desea cerrar sesión?');">
            </form>

        </div>
    </nav>
    <!-- Agrega este bloque en la parte superior del formulario -->
    <div th:if="${error}" class="alert alert-danger">
        <p th:text="${error}"></p>
    </div>

    <!-- Resto del formulario... -->

    <div class="container" style="max-width: 900px;">
        <h3 class="mb-2">Registrar nuevo asiento</h3>
        <form action="#" id="miFormulario" th:action="@{/user/asiento}" th:object="${asiento}" method="post">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="fecha">Fecha</label>
                        <input type="date" id="fecha" class="form-control" th:field="*{fecha}" placeholder="dd/mm/aaaa"
                               required th:min="1900-01-01" th:max="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}">
                    </div>
                </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="descripcion">Descripción</label>
                        <textarea name="textarea" rows="2" th:field="*{descripcion}" class="form-control"
                            id="descripcion" placeholder="Descripcion"></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="campoDebe">Debe</label>
                        <input type="number" id="campoDebe" class="form-control" th:field="*{debe}"
                            placeholder="Ingrese valor" required>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label for="campoHaber">Haber</label>
                        <input type="number" id="campoHaber" class="form-control" th:field="*{haber}"
                            placeholder="Ingrese valor" required>
                    </div>
                </div>
            </div>
            <div class="row align-items-end">
                <div class="form-group col-md-4">
                    <label for="cuenta">Selecciona una cuenta:</label>
                    <select id="cuenta" name="cuentaId" class="form-control" required>
                        <option value="">Selecciona una cuenta</option>
                        <option th:each="cuenta : ${cuentas}" th:value="${cuenta.id}" th:text="${cuenta.nombre}">
                        </option>
                    </select>
                </div>
                <div class="col-md-4 mt-4"> <!-- Aumentado el margen superior aquí -->
                    <div class="form-group ml-5">
                        <a class="btn btn-outline-dark" th:href="@{/user/cuenta/plan}">
                            Plan de cuentas
                        </a>
                    </div>
                </div>

            </div>
            <div class="button">
                <button type="submit" class="btn btn-primary" name="asientoCuenta">Registrar</button>
            </div>
        </form>
        <h4 th:if="${not #lists.isEmpty(asientos)}">Cuentas registradas</h4>
        <div class="asientos-list mt-4" style="max-height: 220px; overflow-y: auto;">

            <table class="table table-striped" th:if="${not #lists.isEmpty(asientos)}">
                <thead>
                    <tr>
                        <th>Cuenta</th>
                        <th>Debe</th>
                        <th>Haber</th>
                        <th>Acciones</th> <!-- Nueva columna para los botones -->
                    </tr>
                </thead>
                <tbody id="asientos-table-body">
                    <!-- Aquí se agregarán los asientos dinámicamente -->
                    <tr th:each="asiento, rowStat : ${asientos}">
                        <!-- Alineación condicional de la celda de la cuenta -->
                        <td th:each="cuenta : ${asiento.cuentas}" th:text="${cuenta.nombre}"
                            th:class="${asiento.debe == 0} ? 'align-right' : ''"></td>
                        <td th:text="${asiento.debe}"></td>
                        <td th:text="${asiento.haber}"></td>
                        <td>
                            <!-- Botón de Editar -->
                            <a class="btn btn-outline-warning"
                                th:href="@{/user/asiento/editar/{idE}(idE=${asiento.getCodigo()})}">
                                Editar
                            </a>
                            <!-- Botón de Eliminar -->
                            <a class="btn btn-outline-danger"
                                th:href="@{/user/asiento/eliminar/{id}(id=${asiento.getCodigo()})}">
                                Eliminar
                            </a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="mt-4">
            <a class="btn btn-outline-danger" th:href="@{/user/asiento/cancelar}">Cancelar</a>
            <a th:if="${diferencia == 0}" class="btn btn-outline-success"
                th:href="@{/user/asiento/agregar}">Guardar</a>
        </div>
    </div>
    <script src="/js/asientos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>
</body>

</html>