<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          crossorigin="anonymous">
    <title>Nuevo Usuario</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
<div class="container">
    <div class="title">Registrar Asiento</div>
    <form action="#" id="miFormulario" th:action="@{/user/asiento}" th:object="${asiento}" method="post">
        <div class="user-details">
            <div class="input-box">
                <span class="details">Debe</span>
                <input type="number" id="campoDebe" th:field="*{debe}" placeholder="00" required>
            </div>

            <div class="input-box">
                <span class="details">Haber</span>
                <input type="number" id="campoHaber" th:field="*{haber}" placeholder="00" required>
            </div>

            <label>
                <input type="radio" name="opcion" value="debe" checked> Debe
            </label>
            <label>
                <input type="radio" name="opcion" value="haber"> Haber
            </label>

            <button type="button" onclick="habilitarCampo()">Seleccionar</button>

            <div class="input-box">
                <span class="details">Saldo</span>
                <input type="number" id="campoSaldo" th:field="*{saldo}" placeholder="00000.00" required>
            </div>

            <div class="input-box">
                <span class="details">Fecha</span>
                <input type="date" th:field="*{fecha}" placeholder="dd/mm/aaaa" required>
            </div>

            <div class="input-box">
                <span class="details">Descripcion</span>
                <input type="text" th:field="*{descripcion}" required>
            </div>

            <div class="form-group">
                <label for="cuenta">Selecciona el tipo de cuenta:</label>
                <select id="cuenta" name="cuentaId" class="form-control">
                    <option value="">Selecciona una cuenta</option>
                    <option th:each="cuenta : ${cuentas}" th:value="${cuenta.id}" th:text="${cuenta.nombre}" required></option>
                </select>
            </div>

            <div class="button">
                <input type="submit" value="Registrar" name="asientoCuenta">
            </div>

        </div>
    </form>

    <div class="asientos-list">
        <h2>Asientos Agregados</h2>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Debe</th>
                <th>Haber</th>
                <th>Saldo</th>
                <th>Fecha</th>
                <th>Cuenta</th>
                <th>Acciones</th> <!-- Nueva columna para los botones -->
            </tr>
            </thead>
            <tbody id="asientos-table-body">
            <!-- Aquí se agregarán los asientos dinámicamente -->
            <tr th:each="asiento, rowStat : ${asientos}">
                <td th:text="${asiento.debe}"></td>
                <td th:text="${asiento.haber}"></td>
                <td th:text="${asiento.saldo}"></td>
                <td th:text="${asiento.fecha}"></td>
                <td th:text="${diferencia}"></td>

                <td>
                    <!-- Botón de Editar -->
                    <a class="btn btn-outline-success"
                       th:href="@{/user/asiento/editar/{idE}(idE=${asiento.getCodigo()})}">
                        Editar
                    </a>
                    <!-- Botón de Eliminar -->
                    <a class="btn btn-outline-danger"
                       th:href="@{/user/asiento/eliminar/{id}(id=${asiento.getCodigo()})}">
                        Eliminar
                    </a>

                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <td><a class="btn btn-outline-danger" th:href="@{/user/asiento/cancelar}">Cancelar</a></td>
    <td><a class="btn btn-outline-danger" th:href="@{/user/asiento/agregar}">Guardar</a></td>
</div>


<script>
    // Función para obtener el valor de una cookie por nombre
    function getCookie(name) {
        const value = `; ${document.cookie}`;
        const parts = value.split(`; ${name}=`);
        if (parts.length === 2) return parts.pop().split(';').shift();
    }

    // Obtén el campo de fecha y la cookie "selectedDate"
    var campoFecha = document.getElementById('campoFecha');
    const selectedDate = getCookie("selectedDate");

    // Verifica si la cookie existe
    if (selectedDate) {
        // Si la cookie existe, deshabilita el campo de fecha y establece la fecha
        campoFecha.value = selectedDate;
        campoFecha.disabled = true;
    }

    // Cuando el formulario se envía, guarda la fecha en una cookie
    document.getElementById('miFormulario').addEventListener('submit', function () {
        const fechaSeleccionada = campoFecha.value;
        document.cookie = "selectedDate=" + fechaSeleccionada;
    });

    // Función para habilitar/deshabilitar otros campos
    function habilitarCampo() {
        var opcionSeleccionada = document.querySelector('input[name="opcion"]:checked').value;
        var campoDebe = document.getElementById('campoDebe');
        var campoHaber = document.getElementById('campoHaber');
        var campoSaldo = document.getElementById('campoSaldo');

        if (opcionSeleccionada === 'debe') {
            campoDebe.disabled = false;
            campoHaber.disabled = true;
            campoSaldo.disabled = false;
        } else {
            campoDebe.disabled = true;
            campoHaber.disabled = false;
            campoSaldo.disabled = false;
        }
    }

    // Obtén una referencia al botón "Guardar" por su ID
    var guardarButton = document.getElementById('guardarButton');

    // Agrega un controlador de eventos para el clic en el botón
    guardarButton.addEventListener('click', function () {
        // Realiza la redirección a "/admin/home"
        window.location.href = '/admin/home';
    });
</script>




</body>
</html>
